# Clasificador Euclidiano

Primero necesitamos encontrar el centroide de un conjunto de datos, los cuales todos pertenecen a una misma clase

In [4]:
import pandas as pd

d = {'col1': [1, 2,6], 'col2': [3, 4,2], 'col3': [1, 2,3]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     3     1
1     2     4     2
2     6     2     3

In [15]:
mean= df.mean(axis=0).tolist()
mean

[3.0, 3.0, 2.0]

In [16]:
df.values.tolist()

[[1, 3, 1], [2, 4, 2], [6, 2, 3]]