# RD 06 pt.1

Instrucciones: Generar una partición 70-30 con el método de validación Hold-out en el dataset Nutt y aplicar el Clasificador Eulidiano con la partición generada.

In [20]:
import pandas as pd
import numpy as np
import math

In [28]:
#importar hold-out
def hold_out(df,clase_1,clase_2,porcentaje):
    #generar los respectivos datasets de las clases

    #df.iloc[row_start:row_end , col_start, col_end]

    c0 = df[df.iloc[: , -1] == clase_1] #si la ultima columna es igual a 0

    c1 = df[df.iloc[: , -1] == clase_2] #si la ultima columna es igual a 1
    
    
    #drop class column for both datasets
    c0=c0.drop(c0.columns[-1],axis=1) #drop la ultima columna, axis=1 significa que la buscara en columnas, axis=0 lo busca en rows

    c1=c1.drop(c1.columns[-1],axis=1)
    
        #permutation over the ci indexes
    c0=c0.reindex(np.random.permutation(c0.index))
    c1=c1.reindex(np.random.permutation(c1.index))
    
    #estamos trabajando con un hold out 80-20 ent
    a = porcentaje/100
    
    h80_0= round(len(c0)*a) # 80% de la clase 0

    h20_0= len(c0)-h80_0 # 20% de la clase 0

    h80_1= round(len(c1)*a) # 80% de la clase 0

    h20_1= len(c1)-h80_0 # 20% de la clase 0
    
    #conjunto de entrenamiento
    #desde la fila 0 hasta la (h80_0)-1 (total h80_0 filas)
    E0 = c0.iloc[:h80_0] #entrenamiento clase 0

    #conjunto de prueba
    #desde la fila h80_0 hasta la ultima
    P0 = c0.iloc[h80_0:len(c0)+1] #prueba clase 0

    #Lo mismo para la clase 1

    E1 = c1.iloc[:h80_1] #entrenamiento clase 1
    P1 = c1.iloc[h80_1:len(c1)+1] #prueba clase 0 
    
    
    return E0,P0,E1,P1

### Clasificador euclidiano

In [47]:
def centroide(df):
    centroi = df.mean(axis=0).tolist()
    return centroi
def clasificador(point,c1,c2,clase_original,n_pattern):
    line = "\n"
    
    
    print(f" \item El patrón {n_pattern} del conjunto de entrenamiento que pertenece a la clase {clase_original}: {line}")
    
    dist_c1 = round(math.dist(point, c1),2)
    print(f"La distancia con el centroide 0 es: {dist_c1} {line} ")
    
    dist_c2= round(math.dist(point, c2),2)
    print(f"La distancia con el centroide 1 es: {dist_c2} {line}")
    
    dist_min = min (dist_c1,dist_c2)
    
    if dist_min == dist_c1:
        print(f"El punto está más cerca del centroide 0. {line}")
        
        if clase_original == 0:
            print(f"La clasificación fue correcta. {line} \n")
        else:
            print(f"La clasificación fue INCORRECTA.{line} \n")
    else:
        print(f"El punto está más cerca del centroide 1.{line}")
        
        if clase_original == 1:
            print(f"La clasificación fue correcta.{line} \n")
        else:
            print(f"La clasificación fue INCORRECTA. {line} \n")

In [29]:
p="D:\\CIC\\CIP\\data_sets\\nutt\\nutt_clean.xlsx"

In [30]:
#read dataset
df = pd.read_excel(p)

In [31]:
#aplicar hold-out 70-30 a df
E0,P0,E1,P1 = hold_out(df,0,1,70)

In [43]:
#convertir datasets de prueba en listas 2D para poder sacar distancias

lista_P0 = P0.values.tolist() #cada row es una lista aqui

lista_P1 = P1.values.tolist()

In [44]:
#obtener los centroides:

centroide0= centroide(E0)
centroide1= centroide(E1)

# Titanic dataset

In [53]:
p="D:\\CIC\\CIP\\data_sets\\titanic\\titanic.xlsx"

In [54]:
titanic = pd.read_excel(p)

In [55]:
titanic

      -1.870  -0.228   0.521  -1.000
0    -0.9230  -0.228  -1.920       1
1    -0.9230  -0.228  -1.920       1
2     0.9650  -0.228   0.521       1
3     0.0214  -0.228   0.521      -1
4     0.9650  -0.228   0.521      -1
...      ...     ...     ...     ...
2195  0.9650  -0.228   0.521      -1
2196 -0.9230  -0.228   0.521      -1
2197 -1.8700  -0.228   0.521      -1
2198  0.9650  -0.228   0.521      -1
2199 -0.9230  -0.228  -1.920       1

[2200 rows x 4 columns]